astroid==2.4.2
certifi==2020.6.20
cycler==0.10.0
fastrlock==0.5
future==0.18.2
isort==5.5.3
joblib==0.16.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.3.2
mccabe==0.6.1
mutagen==1.45.1
numpy==1.19.2
pandas==1.1.2
Pillow==7.2.0
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-speech-features-cuda==0.0.10
pytz==2020.1
scikit-learn==0.23.2
scipy==1.5.2
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
tinytag==1.4.0
toml==0.10.1
torch==1.6.0
tqdm==4.49.0
typed-ast==1.4.1
wrapt==1.12.1
